body {
    background-color: #ededed;
}

#countdown {
    font-family: arial, sans-serif;
    font-weight: bold;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#days {
    font-size: 60px;
    font-size: 20vw;
}

#milliseconds {
    font-size: 10px;
    text-align: right;
}